body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: url('../assets//images/2150985667.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.App {
    overflow: 'hidden';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
  
  