// defaults
.default-text {
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    color: black;

    &:hover {
        color: #333232;
    }
}


// TextButton
.text-button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #F9F9F9;
    background-color: #25a60c;
    padding: 5px 14px 5px 10px;
    border-radius: 6px;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: #22940c;
        color: #F9F9F9;
    }
}

// IconButton
.icon-button {
    img {
        width: 30px;
        opacity: 0.8;
        cursor: pointer;
    }

    img:hover {
        opacity: 1;
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
    }
}

.icon-text-button {
    cursor: pointer;
    color: black;
    background-color: #F9F9F9;
    padding: 1px 8px 3px 6px;
    border-radius: 6px;
    font-weight: normal;
    font-size: 17px;
    width: max-content;

    img {
        width: 30px;
        opacity: 0.8;
    }

    &:hover {
        opacity: 1;
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(180deg) brightness(95%) contrast(80%);
    }
}
