$camera-color:invert(48%) sepia(13%) saturate(3207%) hue-rotate(180deg) brightness(95%) contrast(80%);

// defaults
.default-text {
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    color: black;
    text-decoration: none;

    &:hover {
        color: #333232;
    }
}


// TextButton
.text-button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #F9F9F9;
    background-color: #25a60c;
    padding: 5px 14px 5px 10px;
    border-radius: 6px;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;

    span {
        margin-left: 2px;
    }

    &:hover {
        background-color: #22940c;
        color: #F9F9F9;
    }
}

// IconButton
.icon-button {
    text-decoration: none;

    img {
        width: 30px;
        opacity: 0.8;
        cursor: pointer;
        filter: invert(100%);
    }

    img:hover {
        opacity: 1;
        filter: invert(100%);
    }
}

.icon-text-button {
    cursor: pointer;
    display: flex;
    color: white;
    padding-bottom: 2px;
    align-items: center;
    text-decoration: none;

    img {
        width: 24px;
        filter: invert(100%);
    }

    span {
        margin-left: 4px;
    }

    &:hover {
        opacity: 1;
        filter: $camera-color;
    }
}
