@import './utils/constants.scss';

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  min-height: 54vh;
  max-height: 75%;
  height: 54vh;
  min-width: 20vh;
  max-width: 75%;
  width: 20vh;
  border: rgb(255, 255, 255, 0.2) solid 1px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin: 4px;

  .resize-handle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;

    .resize-handle-icon {
      cursor: nwse-resize;
      margin: -7.5px;
      color: #c2c2c2;
      font-size: 14px;
      opacity: 0;
    }
  }

  .messages-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-bottom: 10px;

    .message-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      max-width: 100%;
      margin-top: 5px;

      .message {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;
        max-width: 95%;
        margin: 5px 0 3px 10px;

        .message-icon {
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 60px;
          width: 30px;
          height: 30px;
          margin: 0 5px 0 0;
          cursor: pointer;
        }

        .message-container {
          width: 100%;
          display: block;
          align-items: center;
          background-color: rgb(255, 255, 255);
          min-height: 26px;
          padding: 3px 5px;
          border-radius: 4px;
          overflow-wrap: break-word;
          word-break: break-all;

          .message-data {
            display: flex;
            justify-content: space-between;

            .message-sender {
              color: rgb(242, 122, 122);
              font-size: 14px;
            }

            .message-time {
              align-self: center;
              color: #848484;
              font-size: 10px;
            }
          }

          .message-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            word-break: break-word;
          }
        }
      }
    }
  }

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 10px;

    input {
      display: flex;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
    }

    button {
      padding: 8px 16px;
      background-color: $dark_sunset_color;
      color: #000;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.input-container {
  position: relative;
  margin-right: 8px;
  width: 100%;
}

.messages-container::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.messages-container::-webkit-scrollbar-button {
  display: none;
}

.suggested-player-wrapper {
  position: absolute;
  bottom:   35px;
  width: 100%;
  color: #fff;
  background-color: #000000d5;
  border-radius: 3px;
  margin-bottom: 5px;

  .suggested-player {
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #7c7b7bd4;
    }
  }
}
