@import './utils/constants.scss';

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Roboto Condensed';

  .main-page {
    display: flex;
    flex-direction: column;
    width: min-content;
  }

  .main-content {
    height: 100vh;

    .all-rooms-container {
      width: 36vw;
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10vh 10vw;

      margin: 14vh 0 20vh 0;

      hr {
        border: none;
        height: 0.5px;
        color: #333;
        /* old IE */
        background-color: #fff;
        /* Modern Browsers */
        color: #fff;
        margin: 6px 0 10px 0;
        width: 100%;
      }
    }
  }
}


.create-room-container {
  display: flex;
  margin: 0 0 10px 0;

  .explore-text {
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 16px;
    cursor: default;
    padding: 8px 12px;
    color: #ffffffd9;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    margin: 0 10px 0 0;
    border: #a0a0a0 0.5px solid;
  }

  .reload-btn {
    width: 10%;
    font-size: 16px;
    padding: 8px 8px;
    background-color: #ffffffd9;
    margin: 0 10px 0 0;
    color: #3c1f07d9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: #1f1f1f 0.5px solid;
    font-weight: 700;

    .reload-icon {
      transition: transform 0.5s ease;
    }

    &:hover {
      background-color: $dark_sunset_color;

      .reload-icon {
        transform: rotate(180deg);
      }
    }
  }

  .new-room-btn {
    width: 30%;
    font-size: 16px;
    padding: 8px 4px;
    background-color: $dark_sunset_color;
    color: #3c1f07d9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: #1f1f1f 0.5px solid;

    transition: transform 0.3s ease;
    font-weight: 700;

    &:hover {
      transform: scale(1.1);
    }
  }
}


.rooms-list {
  .rooms-list-loader {
    display: flex;
    justify-content: center;
    margin: 2% 0 0 0;
  }

  .room-item {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 4px 0;
    border-bottom: 1px solid #dadce1;
    -webkit-box-shadow: 2px 3px 7px -4px rgba(0, 0, 0, 0.52);
    box-shadow: 2px 3px 7px -4px rgba(0, 0, 0, 0.22);

    &:hover {
      background-color: #e3e3e3;
    }

    .room-text {
      padding: 1px 2px;
    }
  }
}

.scroll-down {
  opacity: .7;

  p {
    text-align: center;
  }

  hr {
    width: 20%;
  }
}

.details-content {
  width: 100%;
  padding: 0 20px 40px 20px;

  .game-details {}

  h3 {
    color: #ffffffc3;
    font-size: 24px;
  }

  .game-rules {
    padding: 20px 0;

    .rules-text {
      padding: 4px 0;
    }
  }

  .chars-wrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    row-gap: 20px;
  }

  .chars {
    display: flex;
    align-items: center;

    p {
      margin-left: 10px;
    }
  }

  .invert {
    filter: invert(100%);
  }

  .char-text {
    font-size: 20px;
  }

  .char-icon {

    img {
      width: 28px;
    }
  }
}