.main-page-container {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 14vh 0 0 0;
  padding: 0;
  
  .all-rooms-container {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 40px;

      h2 {
        margin: 20px 0 0 0;
      }

      hr {
        border: none;
        height: 0.5px;
        color: #333;  /* old IE */
        background-color: #fff;  /* Modern Browsers */
        color: #fff;
        margin: 6px 0 10px 0;
        
      }
  }
}

.create-input {
  display: flex;
  width: 30vw;
  margin: 0 0 10px 0;

  input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #000;
    border-radius: 4px;
    margin-right: 6px;
    color: #ffffff;
    outline: none;
  }

  button {
    padding: 8px 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.rooms-list {
  .room-item {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 4px 0;
    border-bottom: 1px solid #dadce1 ;
    -webkit-box-shadow: 2px 3px 7px -4px rgba(0,0,0,0.52);
    box-shadow: 2px 3px 7px -4px rgba(0,0,0,0.22);

    &:hover {
      background-color: #e3e3e3;
    }

    .room-text {
      padding: 1px 2px;
    }
  }
}