$border: 1px solid #474a4d;
$border-radius: 8px;

.navigation-wrapper {
    min-height: 55px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .navigation-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .logo-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            margin: 0 10px;
            cursor: pointer;

            .logo-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 40px;
            }
        }

        .nav-timeline-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .nav-noty-user-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: 0 10px;

            .nav-noty-dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 10px;

                .notification-dropdown-img {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: invert(98%) sepia(23%) saturate(207%) hue-rotate(120deg) brightness(195%) contrast(90%);
                }
            }

            .nav-user-dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 10px;

                .profile-dropdown-img {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                }
            }
        }

        .nav-no-user-dropdown {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
        }
    }
}
