$border: 1px solid #474a4d;
$border-radius: 8px;

.navigation-wrapper {
    min-height: 55px;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .navigation-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .logo-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            margin: 0 10px;
            cursor: pointer;

            .logo-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 40px;
            }
        }

        .nav-timeline-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .nav-noty-user-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: 0 10px;

            .nav-noty-dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 6px;

                .notification-dropdown-img {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: invert(100%);
                }
            }

            .nav-noty-store {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 7px;

                .store-img {
                    cursor: pointer;
                    width: 29px;
                    height: 29px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: invert(100%);
                }
            }

            .nav-user-dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 6px;

                .profile-dropdown-img {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    border: #fff 1px solid;
                }
            }
        }

        .nav-no-user-dropdown {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
        }
    }
}

.game-history-container {
    cursor: pointer;
    color: #fff;
}

.invisible {
    opacity: 0;
}

@media screen and (max-width: 1024px) {
    .navigation-wrapper {
        min-height: 40px;
    }

    .nav-noty-store,
    .nav-noty-dropdown,
    .game-history-container {
        img {
            height: 20px !important;
            width: 20px !important;
        }

        svg {
            height: 16px !important;
            width: 16px !important;
        }
    }
}