.not-found-page-container {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 14vh 0 0 0;
  padding: 0;

  pre {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
  }
}
