$sunset-color: invert(69%) sepia(91%) saturate(296%) hue-rotate(342deg) brightness(98%) contrast(93%);

.link-camera-wrapper {
    display: flex;
    flex-direction: column;
}

.invite-link-container {
    background-color: #fff;
    border: rgb(0, 0, 0) solid 4px;
    border-radius: 4px;
    margin-bottom: 3px;
    cursor: pointer;
}

.webcam-container {
    border: rgb(0, 0, 0) solid 4px;
    border-radius: 4px;
    color: #fff;
}

.webcam-btn {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    margin: 0 0 0 4px;
}

.webcam {
    position: relative;
}

.webcam-avatar {
    width: 260px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        /* make the image fill the width of the parent container */
        height: 100%;
        /* make the image fill the height of the parent container */
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.char-list-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-left: 3px;
}

.camera-list-wrapper {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
}


.webcam-list {
    display: flex;
    flex-wrap: nowrap;
    /* Prevent wrapping to the next line */
    justify-content: space-between;
    /* Distribute space between the elements */

    .block-container {
        width: 20%;
        /* Adjust the width as needed (100% / 8 - margin) */
        box-sizing: border-box;
        /* Include padding and border in the width calculation */

        padding: 2px 0;
        z-index: 2;
        position: relative;
        border: black solid 1px;


        .camera-block {
            position: relative;
            color: white;
            text-align: center;
            background-color: #fff;

            // width: 180px;
            height: 140px;
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                /* make the image fill the width of the parent container */
                height: 100%;
                /* make the image fill the height of the parent container */
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .chars-row-container {
            display: flex;
            justify-content: center;
        }

        .chars-row {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2px;
            cursor: pointer;
        }
    }
}


.chars-block-down {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.09)
    }

    100% {
        transform: scaleY(1)
    }
}

.bottom-icon {
    img {
        height: 20px;
        padding: 2px;
        filter: $sunset-color;
    }

    img:hover {
        filter: invert(0%);
    }
}

.action-tip-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: default;
    font-size: 24px;
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    align-items: center;

    .divider {
        height: 1px;
        width: 110%;
        transform: translate(-5%, 0%);
        margin: 4px 0 0 0;
        border-bottom: 1px dashed #fff;
    }

    .start-game-btn {
        font-size: 16px;
        margin: 10px 0 0 0;
        padding: 8px 4px;
        background-color: #faaa63ca;
        color: #3c1f07d9;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: #1f1f1f 0.5px solid;

        transition: transform 0.3s ease;
        font-weight: 700;

        &:hover {
            transform: scale(1.1);
        }
    }
}