.room-page-container {

}

.link-camera-wrapper {
    display: flex;
    flex-direction: column;
}

.invite-link-container {
    background-color: #fff;
    border: rgb(0, 0, 0) solid 4px;
    border-radius: 4px;
    margin-bottom: 3px;
}

.webcam-container {
    border: rgb(0, 0, 0) solid 4px;
    border-radius: 4px;
    color: #fff;
}

.webcam-btn {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    margin: 0 0 0 4px;
}

.webcam {
    position: relative;
}

.webcam-avatar {
    width: 260px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
    }
}

.char-list-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-left: 3px;
}

.camera-list-wrapper {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
}


.webcam-list {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    justify-content: space-between; /* Distribute space between the elements */
    // padding-left: 10px;

    .block-container {
        width: 20%; /* Adjust the width as needed (100% / 8 - margin) */
        // margin-right: 10px; /* Adjust the margin as needed */
        box-sizing: border-box; /* Include padding and border in the width calculation */
        // background-color: #ddd; /* Optional: Set background color */
        padding: 10px 0; /* Optional: Add padding */
        border-right: black solid 1px;

        .camera-block {
            
        }
        .chars-block {
            display: none;
        }
    }
}


.chars-block-down {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}
    


@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.09)
    }
    100% {
        transform: scaleY(1)
    }
}
