.page-container {
    display: flex;
    justify-content: center;
}

.search-input-container {
    display: flex;
    padding: 10px;
    width: 40vw;
    margin: 10vh 0 0 0;

  
    input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 6px;
    }
  
    button {
      padding: 8px 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }